@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

/***** Body *****/

* {
  margin: 0;
  padding: 0;
}

.head {
  color: pink;
  font-size: 4rem;
  font-family: 'Mukta', sans-serif;
}

/***** Menu Items *****/

.menuItem {
  display: block;
  margin: 2rem 4rem;

  font-size: 1.8rem;
  font-family: 'Mukta', sans-serif;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
  color: black;
}

/***** Hamburger Button Styling *****/

.button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 4px;

  font-size: 2rem;
  font-family: 'Mukta', sans-serif;

  border: black solid 1px;
  background: white;
  cursor: pointer;
}

.button:hover {
  background-color: black;
  color: white;
}

/***** Menu Display *****/

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.5s;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: pink;

  list-style: none;
  padding-top: 4rem;
}

/***** Open & Close Display *****/

.closeMenu {
  display: none;
}


.showMenu {
  transform: translateY(0);
}